<!-- ver-pruebas.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Ver Pruebas</title>
</head>
<body>


<h1>Lista de Pruebas</h1>

<style>
  .button {
      border: none;
      color: rgb(0, 0, 0);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
  .button1 {background-color: #ffffff; border: 2px solid #000000;}
  .borde {border: 2px solid #000000;}
  </style>




<% if (respuesta.length > 0 || rol === '1' || rol === '2' || prueba.cant_preg >= prueba.num_preguntas) { %>
  <% respuesta.forEach(function(prueba) { %>
    <div class="borde">
      <p>Nombre de la prueba: <%= prueba.nombreprueba %></p>
      <p>Asignatura: <%= prueba.asignatura %></p>
      <p>Correo del creador: <%= prueba.correo_creador %></p>
      <p>Número de preguntas: <%= prueba.num_preguntas %></p>
      <p>Cantidad de preguntas: <%= prueba.cant_preg %></p>
      <p>id: <%= prueba.id %></p>

      <% if (rol === '1' || rol === '2') { %>
        

        <div class="form-container">
          <form action="/modificarprueba" method="POST">
            <!-- Contenido del primer formulario -->
            <input type="hidden" name="id" value="<%= prueba.id %>" />
            <input type="hidden" name="nombreprueba" value="<%= prueba.nombreprueba %>" />
            <input type="hidden" name="asignatura" value="<%= prueba.asignatura %>" />
            <input type="hidden" name="num_preg" value="<%= prueba.num_preguntas %>" />
            <button type="submit" class="button button1">
              Modificar Prueba
            </button>
          </form>
        </div>
        
        <form action="/agregarpregunta" method="POST">
          
          <input type="hidden" name="id" value=<%= prueba.id %>>
          <button type="submit" class="button button1">
            Agregar Pregunta
          </button>
        </form>
        
       
        <form action="/borrarprueba" method="POST">
      
          <input type="hidden" name="id" value=<%= prueba.id %>>
          <button type="submit" class="button button1">
            Borrar Prueba
          </button>
        </form>
      <% } %>

        <form action="/ver_preguntas" method="POST">
          
          <input type="hidden" name="id" value=<%= prueba.id %>>
          <button type="submit" class="button button1">
            Realizar Prueba
          </button>
        </form>
      

    </div>
  <% }); %>
<% } else { %>
  <p>No hay pruebas disponibles</p>
<% } %>

</body>
